* {
  text-align: center;
  font-family: sans-serif;
  color: #333;
}

h1 {
  margin-top: 15%;
}

.container {
  text-align: center;
  margin-top: 75px;
}

.zone {
  width: 100px;
  height: 100px;
  border: solid rgba(29, 117, 68, .25);
  margin: 20px;
  display: inline-block;
  transition: 0.5s all;
  border-radius: 5px;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.game-link {
  position: fixed;
  top: 10px;
  right: 10px;
}

a {
  text-decoration: none;
}
